body{
    max-width: 500px;
    max-height: 1000px;
    background-color: #FFD580;
    border: 5px solid blue;
    margin: 0 auto;
    padding: 50px;
}
h1{
    text-align: center;
    align-items: center;
}
ul{
    text-align: center;
    align-items: center;
    list-style: none;
    display: flex;
    justify-content: center;
    font-size: 25px;
}
h2{
    text-align: left;
    align-items: left;
}
p {
    text-align: left;
    align-items: left;
    font-size: 20px;
}
img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid blue;
    float: right;
}
section img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 5px solid blue;
}
a{
    color: blue;
}